body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background: rgb(47, 46, 46);
    color: rgba(255, 255, 255, 0.8);
    word-wrap: break-word;
}

#score {
    float:left;
    margin-left: 30px;
}

#timer {
    float:right;
    margin-right: 30px;
}

#drawthis {
    color: rgba(255, 255, 255, 0.8);
}

#showsketch {
    float:left;
    margin-top: 0px;
}